/* CSS Variables */
* {
    --sky-lightest: #5DDAEC;
    --sky-light: #28B9CE;
    --sky: #039DB2;
    --sky-dark: #02606D;
    --sky-darkest: #001E22;

    --purple-lightest: #956BEF;
    --purple-light: #6A38D7;
    --purple: #4810C0;
    --purple-dark: #2E0C79;
    --purple-darkest: #0E0226;

    --header-color: var(--purple-lightest);
    --main-text-color: white;
    --header-muted-color: var(--purple-lightest);
    --background-color: var(--purple-dark);
    --timeline-color : var(--purple-lightest);
    --timeline-padding: 2.5vw;
    --line-width: 0.5vw;
}
header {
    background-image: url('../images/banniereimg.png')  ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
    position: relative;
}
header > .header-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
header .avatar {
    position: absolute;
    bottom: 0;
    border-radius: 999px;
    border-color: var(--header-color);
    border-style: solid;
    border-width: var(--line-width);
    width:calc(var(--timeline-padding)*2);
    aspect-ratio: 1;
}
header h1 {
    color: var(--header-color);
}
header p {
    color: var(--header-muted-color);
}
h1 {
    font-size: 2em;
}

main {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-size: 1rem;
}

a {
    color: var(--main-text-color);
}

.timeline-container {
    padding-left: calc(var(--timeline-padding) - var(--line-width)/2);
}
.timeline-container > li {
    padding-left: calc(var(--timeline-padding));
    border-left: solid var(--timeline-color) var(--line-width);
    padding-top: var(--timeline-padding);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}
.timeline-container > li > .timespan {
    position:relative;
}
.timeline-container > li > .timespan::before {
    content: '';
    position: absolute;
    left: calc( -1.5 * var(--timeline-padding) - var(--line-width)/2);
    width: var(--timeline-padding);
    height: var(--timeline-padding);
    border-radius: 50%;
    border-width: var(--line-width);
    border-style: solid;
    border-color: var(--timeline-color);
    background-color: var(--background-color);
    justify-self: center;
}

.cards {
    display: flex;
    justify-content: center;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: nowrap ;
    margin-left: 0.05em;
    margin-right: 0.05em    ;

    margin-top: 0.5em;
}

.cards__item {
    /* There will be 2 cards per row */
    flex-basis: auto;
    flex-grow: 1;
    height: 300px;
    padding-left: 4px;
    padding-right: 4px;

}
.card__image{
    width : 100% ;
    height:100% ;
    border-radius: 20px;
    overflow:auto;
    object-fit: cover;
    object-position: center center;
}
.card__video {
    width : 100% ;
    height:100% ;
    border-radius: 20px;
    object-fit: fill;
    object-position: top;
}

.details-toggler {
    width: 80vw;
    background-color: var(--background-color);
    border: solid 0.2rem var(--timeline-color);
    border-radius: 999px;
    color: var(--header-color);
    font-weight: 700;
}
p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.collapsible-content {
    display: none;
}
.collapsible-content.opened {
    display: inline-block;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0.5em;
}
